config.xml
copy_reference_file.log
fingerprints
hudson.model.UpdateCenter.xml
hudson.plugins.deploy.DeployPublisher.Migrator
hudson.plugins.git.GitTool.xml
identity.key.enc
jenkins.install.InstallUtil.lastExecVersion
jenkins.install.UpgradeWizard.state
jenkins.model.JenkinsLocationConfiguration.xml
jenkins.telemetry.Correlator.xml
jobs
logs
nodeMonitors.xml
nodes
org.jenkinsci.plugins.github_branch_source.GitHubSCMProbe.cache
org.jenkinsci.plugins.workflow.flow.FlowExecutionList.xml
plugins
plugins.txt
queue.xml.bak
secret.key
secret.key.not-so-secret
secrets
updates
userContent
users
war
workflow-libs
workspace
.lastStarted
.settings
.java/fonts/1.8.0_222
.owner
queue.xml
