version: '3'
services:
  master:
    build: .
    image: aprenderdevops/jenkins:test
    restart: unless-stopped
    hostname: jenkins
    ports:
      - "8080:8080"
      - "50000:50000"
    volumes:
      - .:/var/jenkins_home
 
volumes:
  jenkins_home:
